@{
    ViewBag.Title = "About";
}


<p><h1>About Us</h1></p>
<div class="col-sm-3">
   
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Images/logo in PNG.png")" height="70" width="140" />
    </a>
    <p><strong>Mission</strong></p>
    <p>usiness Affairs develops and maintains the university’s sound financial and internal control structure in alignment with OSU’s strategic plan, OUS policy and GAAP.  We emphasize a service-oriented, team approach to providing financial information, systems, and policies that meet fiduciary and regulatory responsibilities, address the operational needs of the University’s departments, and serve the needs of our students, parents, alumni, fellow employees, and sponsor </p>
</div>
<div class="col-sm-3">
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Images/logo in PNG.png")" height="70" width="140" />
    </a>
    <p><strong>Vision</strong></p>
    <p>To distinguish Prudential as an admired multinational financial services leader, trusted partner, and provider of innovative solutions for growing and protecting wealth. </p>
</div>
<div class="col-sm-3">
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Images/logo in PNG.png")" height="70" width="140" />
    </a>
    <p><strong>principle</strong></p>
    <p>Integrity
Professionalism
Exceptional customer service
Fiscal conservatism and compliance
Collaborative and transparent
Continuous improvement
Respectful diversity </p>
</div>
<div class="col-sm-3">
    <a href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Images/logo in PNG.png")" height="70" width="140" />
    </a>
    <p><strong>BOD And Management Structure</strong></p>
    <p>usiness Affairs develops and maintains the university’s sound financial and internal control structure in alignment with OSU’s strategic plan, OUS policy and GAAP.  We emphasize a service-oriented, team approach to providing financial information, systems, and policies that meet fiduciary and regulatory responsibilities, address the operational needs of the University’s departments, and serve the needs of our students, parents, alumni, fellow employees, and sponsor </p>
</div>